* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
}

header {
    background-color: white;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;


}

.container {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;



}

.nav-left-part h1 a {
    text-decoration: none;
    color: #5fcf80;

}

nav .nav-right-part {
    padding-left: 3em;
}

nav .nav-right-part ul {
    display: flex;
    align-items: center;


}

nav .nav-right-part ul li {
    list-style: none;
    padding-right: 2.1em;
    position: relative;
    align-items: center;

}

nav .nav-right-part ul li a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #37423B;
    transition: 0.5s;

}

nav .nav-right-part ul li a:hover {
    color: #5fcf80;


}

nav .nav-right-part .home {
    color: #5fcf80;
}

nav .nav-right-part .dropdown .fa-chevron-down {
    font-size: small;
}

.dropdown {
    margin-top: 10px;
    position: relative;
    transition: 0.5s;
}

.dropdown-elements {
    height: 230px;
    width: 300px;
    background-color: white;
    font-size: 17px;
    padding-top: 10px;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.deep-dropdown {
    position: relative;

}
.deep-dropdown-elemens:hover {
    opacity: 1;
    transition: 0.5s;
    visibility: visible;
}
.dropdown-elements:hover {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.dropdown:hover+.dropdown-elements {
    opacity: 1;
    visibility: visible;
}




nav button {
    border: 1px solid #5fcf80;
    background-color: #5fcf80;
    color: white;
    font-weight: 500;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: pre;
    transition: 0.5s;
}

nav button:hover {
    background-color: #48b96a;
    cursor: pointer;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
        url('https://bootstrapmade.com/demo/templates/Mentor/assets/img/hero-bg.jpg');
    width: 100%;
    height: 80vh;
    background-size: cover;
    color: white;
    background-attachment: fixed;

}


.hero-items {
    padding-top: 160px;
    padding-left: 100px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;


}

.hero p {
    font-size: 24px;
    color: white;
}

.hero button {

    color: white;
    border: 2px solid white;
    background-color: transparent;
    margin-top: 30px;
    border-radius: 50px;
    padding: 12px 38px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
}

.hero button:hover {
    background-color: #5fcf80;
    border-color: #5fcf80;
}

.row .content h3 {
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    color: #444444;
}

.row .content span {
    font-size: 15px;
    color: #525252;
    position: relative;
    top: 10px;
}

.row .content p {
    margin-top: 25px;
    font-size: 17px;

}

.row .content .fa-circle-check {
    color: #5fcf80;
    font-size: 19px;
    padding-right: 6px;
}

.row .content-img {
    background-image: url(https://bootstrapmade.com/demo/templates/Mentor/assets/img/about.jpg);
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;


}

#count {
    background-color: #f6f7f6;
    height: 100px;

}

#count .container {
    width: 75%;
}

#count .container .row {
    width: 100%;
    align-items: center;

}

#count .container .row .col-3 {
    text-align: center;
}


#count .num {
    font-size: 48px;
    justify-content: space-between;
    color: #5fcf80;
    font-weight: 600;
}

#count .name {

    font-size: 15px;
    font-weight: 500;
    color: #37423b;
   
}



#choose .container .main-card {
    color: white;
    border: 1px solid #5fcf80;
    border-radius: 3px;
    background-color: #5fcf80;
    padding: 20px 30px;

    width: 95%;
}

#choose .container .main-card h1 {
    margin-bottom: 35px;
    font-size: 34px;
    font-weight: 500;

}

#choose .container .col-4 .main-card p {
    font-size: 20px;
    color: white;
    margin: 10px 0;

}

#choose .container .main-card button {
    color: white;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    padding: 10px 30px;
    position: relative;
    font-size: 17px;
    cursor: pointer;
    top: 5px;
    left: 55px;
    transition: 0.5s;
    white-space: nowrap;
}

#choose .container .main-card button .fa-chevron-right {
    font-size: 15px;
    padding-left: 10px;
}

#choose .container .main-card button:hover {
    color: #5fcf80;
    background-color: white;
    border: #f6f7f6;


}




.col-8 {
    width: 62%;
    display: flex;
    align-items: center;
    



}

#choose .container .card {
    border: 1px solid #eef0ef;
    padding: 35px;
    display: inline-block;
    margin: 0px 9px;
    text-align: center;





}

#card-icons {
    border: 1px solid#ecf9f0;
    background: #ecf9f0;
    border-radius: 60%;
    color: #5fcf80;
    padding: 20px;
    font-size: 30px;
    margin-bottom: 30px;
    white-space: nowrap;

  

}

.col-8 .col-4 p {
    font-size: 15px;
    color: #848484;

}

.col-8 .col-4 h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;

}

#icon-row .container {
    width: 80%;


}

#icon-row .container .row .col-3 {
    border: 1px solid #eef0ef;
    margin: 1.3em 0.8em;
    justify-content: center;
    align-items: center;
    width: 21%;
    transition: 0.5s;

}

#icon-row .container .row .col-3 .box-icon {
    padding: 20px;
    display: flex;
    align-items: center;





}

#icon-row .container .row .col-3 .box-icon a {
    text-decoration: none;
    font-size: 15px;
    transition: 0.5s;
    color: #37423b;
    font-weight: 700;
}

#icon-row .container .row .col-3 .box-icon .fa-circle-dot,
.fa-solid,
.fa-calendar {
    font-size: 32px;
    padding-right: 5px;
}

#icon-row .container .row .col-3:hover {
    border: 1px solid #5fcf80;
    color: #5fcf80;
}

#trainers {
    margin: 7em;
}

#trainers .container {
    width: 80%;

}

#trainers.container .row {
    display: flex;
}

#trainers .container .row .col-4 {
    width: 30%;
    display: flex;
    padding: 0 9px;


}

#trainers .container .row .col-4 .trainer img {
    width: 100%;
    height: auto;


}

#trainers .container .row .col-4 .trainer {
    border: 1px solid rgb(218, 211, 211);
}

#trainers .container .row .col-4 .trainer .box,h2,p {
    margin-left: 10px;
}

#trainers .container .row .col-4 .trainer .trainer-content h2 {
    transition: 0.5s;
}

#trainers .container .row .col-4 .trainer .trainer-content .box {
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}

#trainers .container .row .col-4 .trainer .trainer-content h2:hover {
    color: #5fcf80;
    cursor: pointer;
}

#trainers .container .row .col-4 .trainer .trainer-content .box h3 {
    background-color: #5fcf80;
    font-size: small;
    color: white;
    padding: 5px 10px;


}

#trainers .container .row .col-4 .trainer .trainer-content .box span {
    margin-right: 6px;
    font-weight: 700;
}

#trainers .container .row .col-4 .trainer h2 {
    font-size: 15px;
    padding: 10px 0;
}

#trainers .container .row .col-4 .trainer p {
    font-size: 14px;
    padding-bottom: 15px;
}


.trainer-follow {
    display: flex;
    align-items: center;
}

.trainer-follow .trainer-img {
    width: 55px;
    height: 55px;
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    display: flex;
}

.trainer-follow .trainer-rank {
    color: #aaaaaa;
    font-size: small;
    margin-left: 35px;
}




#members .container {
    width: 80%;

}

#members .container .row {
    display: flex;
    
}

#members .container .row .col-4 {
    width: 30%;
    display: flex;
    padding: 0 9px;


}

#members .container .row .col-4 .member img {
    width: 100%;
    height: auto;
    background-size: cover;
}

#members .container .row .col-4 .member {
    text-align: center;
    border: 1px solid rgb(218, 211, 211);
}

#members .container .row .col-4 .member .member-content {
    padding: 20px 30px;
}

#members .container .row .col-4 .member .member-content h3 {
    font-size: 19px;
    color: #444444;
font-weight: 500;
}

#members .container .row .col-4 .member .member-content span {
    font-size: 13px;
    color: #444444;

}

#members .container .row .col-4 .member .member-content p {
    font-size: 14px;
    color: #aaaaaa;
    padding: 14px 0 7px;

}

#social-media a {
    color:#7e9486;
    font-size: 23px;
    margin: 10px 0;

}

#social-media a:hover {
    color: #5fcf80;
}

#footer-top {
    background-color: #f9faf9;
    height: auto;
}
#footer-top .container
#footer-top .container {
    width: 80%;
}

#footer-top .container .row {
    display: flex;
    margin: 50px 0;

}

#footer-top .container .row .col-3 {
    width: 25%;
    padding: 0 9px;
    white-space: nowrap;
}

#footer-top .container .row .col-3 h3 {
    font-size: 1.75em;
    margin: 0.5em 0;
    font-weight: 500;
    line-height: 1.2em;
}

#footer-top .container .row .col-3 p {
    color: #777777;
    font-size: 14px;
    line-height: 26px;
}
#footer-top .container .row .col-2{
    width: 17%;
    margin:0 20px;
    white-space: nowrap;
}
#footer-top .container .row .col-2 h3{
    color: #444444;
    margin: 0.5em 0.2em;
    font-size: 17px;
    padding-bottom: 12px;
    font-weight: bold;
}
#footer-top .container .row .col-2 ul li{
    list-style: none;
    line-height: 39px;
    font-size: 14px;
}
#footer-top .container .row .col-2 ul li a{
    text-decoration: none;
  color: #777777;
    
}

#footer-top .container .row .col-2 ul li .fa-chevron-right{
    font-size: 14px;
    color: #5fcf80;
}
#footer-top .container .row .col-2 ul li a:hover{
    color: #5fcf80;
}
#footer-top .container .row .col-4{
    width: 32%;
    white-space: wrap;

}
#footer-top .container .row .col-4 h3{
    color: #444444;
    margin: 0.5em 0.2em;
    font-size: 17px;
    padding-bottom: 12px;
    font-weight: bold;
}
#footer-top .container .row .col-4 form{
    padding: 40px;
    position: relative;

}
#footer-top .container .row .col-4 form #Email{
    border: 1px solid #aaaaaa;
    border-radius: 30px;
    padding: 13px 30px;
}
#footer-top .container .row .col-4 form button{
    border: 1px solid #5fcf80;
    background-color: #5fcf80;
    color: white;
    position: absolute;
    left: 14.5em;
     top: 2.9em;
    letter-spacing: 1.4px;
    padding: 14px 25px;
    border-radius: 30px;
    cursor: pointer;
}


#footer-bottom.footer-left span ,p{
    font-size: 15px;
    color: #37423B;
}
#footer-left p a{
    text-decoration: none;
    color: #5fcf80;
}



#footer-right ul{
    list-style: none;
     display: flex;
     
    
}
#footer-right ul li a{
  border-radius: 50%;
  font-size: 15px;
  margin: 0 6px;
  padding: 11px;
  background-color: #5fcf80;
  color: white;
  position: relative;
  left: 39em;
}


